.extention-cont{
    nav{
       @include flex(center, space-between, row); 
       ul{
         @include flex(center, center, row); 
         li{
            padding: 0.6rem;
            background: rgb(51, 63, 90);
            border-radius: 35px;
            font-size: 2.5rem;
            margin: 0 0.5rem;
            padding: 1rem;
         }
         li:hover{
            background:$active-hov ;
            color: black;
         }
       }
       
    margin: 2rem;
    }
    
    
}

.extentions-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 15px;
    
    .extent-cont{ //its in the JS file
        background: rgb(51, 63, 90);
        width: 100%;
        border-radius: 15px;
        border: solid rgb(97, 97, 97) 1px;
        height: 25vh;
        
        .info{
            @include flex(center,center,row);
            img{
                width: 25%;
                margin-right:1rem;
            }
            .descr{
                width: 75%;
            }
        }
        span{
            @include flex(center,space-between,row);
        }

        span,.info{
            margin: 2rem;
        }
        
    }
}