.extention-cont{
    nav{
       @include flex(center, space-between, row); 
       ul{
         @include flex(center, center, row); 
         li{
            padding: 0.6rem;
            background-color: green;
            border-radius: 10px;
         }
         li:hover{
            background:$active-hov ;
         }
       }
    }
    
}

.extentions-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 15px;
    
    .extent-cont{ //its in the JS file
        background: rgb(51, 63, 90);
        width: 100%;
        border-radius: 15px;
        border: solid rgb(97, 97, 97) 1px;
        @include flex(center,center,row);
        .info{
            img{
                width: 25%;
            }
            .descr{
                width: 75%;
            }
        }
        
    }
}