.extention-cont{
    nav{
       @include flex(center, space-between, row); 
       ul{
         @include flex(center, center, row); 
         li{
            padding: 0.6rem;
            background: rgb(51, 63, 90);
            border-radius: 35px;
            font-size: 2.5rem;
            margin: 0 0.5rem;
            padding: 10px 20px;
            cursor: pointer;
         }
         li.active:hover{
            background:$active-hov ;
            color: black;
         }

         li.active{
            background: $active;
            color: black;
         }
       }
       
    margin: 2rem;
    }
    
    
}

.extentions-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 15px;
    
    .extent-cont{ //its in the JS file
        background: $color2 ;
        width: 100%;
        border-radius: 15px;
        border: solid rgb(97, 97, 97) 1px;
        min-height: 30vh;
        padding: 2rem;
        @include flex(center,space-between, column);
        
        .info{
            @include flex(center,center,row);
            width: 100%;
            img{
                width: 25%;
                height:100%;
                margin-right:2rem;
            }
            .descr{
                width: 75%;
            }
        }
        span{
            @include flex(center,space-between,row);
            min-height:35%;
            width: 100%;
            button{
              color: white;
              background: none;
              padding: 10px 20px;
              border-radius: 35px;
              border: $color4 2px solid;
              cursor: pointer;
              font-size: 2rem;
            }
        }

    }
}



//toggle switch

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $active;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}