@mixin flex ($align, $justify, $flex-direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flex-direction;
}

$color1:hsl(227, 75%, 14%);
$color2: hsl(226, 25%, 17%);
$color3:hsl(225, 23%, 24%);
$color4: hsl(226, 11%, 37%);
$color5:hsl(0, 0%, 78%);
$color6:hsl(217, 61%, 90%);
$color7:hsl(0, 0%, 93%);
$color8:hsl(200, 60%, 99%);
$active:hsl(3, 86%, 64%);
$active-hov:hsl(3, 71%, 56%);
$active-click:hsl(3, 77%, 44%);

@import "global";
@import "extention-container";

/*Desktop View*/
@media screen and (min-width: 1025px){

}

/*Tablet View*/
@media screen and (max-width: 1024px) and (min-width: 768px){
    html{
        font-size: 70%;
    }

    .extention-cont{
        nav{
        @include flex(center, space-between, column); 
        margin: 2rem 1rem;
            h2{
                margin-bottom: 1rem;
            }
       }
    }
    
    

    .extentions-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: auto; /* adjusts rows automatically */
    }
}

/*Mobile View*/
@media screen and (max-width: 501px){
    html{
        font-size: 45%;
    }

    .extention-cont{
        nav{
        @include flex(center, space-between, column); 
        margin: 2rem 1rem;
        h2{
            margin-bottom: 1rem;
        }
       }
    }
    .extentions-grid {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto; /* adjusts rows automatically */
  }
}